table {
    width: 100%;
  }
  .rolebtn{
    cursor: pointer;
    margin-right: 10px;
    color: #0056b3 !important;
  }
  .rolebtn{
    cursor: pointer;
    margin-right: 10px;
    color: #0056b3 !important;
}